<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>湖北省</key>
	<array>
		<dict>
			<key>全部</key>
			<array>
				<string>全部</string>
			</array>
			<key>武汉市</key>
			<array>
				<string>全部</string>
				<string>江岸区</string>
				<string>江汉区</string>
				<string>硚口区</string>
				<string>汉阳区</string>
				<string>武昌区</string>
				<string>青山区</string>
				<string>洪山区</string>
				<string>东西湖区</string>
				<string>汉南区</string>
				<string>蔡甸区</string>
				<string>江夏区</string>
				<string>黄陂区</string>
				<string>新洲区</string>
			</array>
			<key>黄石市</key>
			<array>
				<string>全部</string>
				<string>黄石港区</string>
				<string>西塞山区</string>
				<string>下陆区</string>
				<string>铁山区</string>
				<string>阳新县</string>
				<string>大冶</string>
			</array>
			<key>十堰市</key>
			<array>
				<string>全部</string>
				<string>茅箭区</string>
				<string>张湾区</string>
				<string>郧县</string>
				<string>郧西县</string>
				<string>竹山县</string>
				<string>竹溪县</string>
				<string>房县</string>
				<string>丹江口</string>
			</array>
			<key>宜昌市</key>
			<array>
				<string>全部</string>
				<string>西陵区</string>
				<string>伍家岗区</string>
				<string>点军区</string>
				<string>猇亭区</string>
				<string>夷陵区</string>
				<string>远安县</string>
				<string>兴山县</string>
				<string>秭归县</string>
				<string>长阳土家族自治县</string>
				<string>五峰土家族自治县</string>
				<string>宜都</string>
				<string>当阳</string>
				<string>枝江</string>
			</array>
			<key>襄阳市</key>
			<array>
				<string>全部</string>
				<string>襄城区</string>
				<string>樊城区</string>
				<string>襄阳区</string>
				<string>南漳县</string>
				<string>谷城县</string>
				<string>保康县</string>
				<string>老河口</string>
				<string>枣阳</string>
				<string>宜城</string>
			</array>
			<key>鄂州市</key>
			<array>
				<string>全部</string>
				<string>梁子湖区</string>
				<string>华容区</string>
				<string>鄂城区</string>
			</array>
			<key>荆门市</key>
			<array>
				<string>全部</string>
				<string>东宝区</string>
				<string>掇刀区</string>
				<string>京山县</string>
				<string>沙洋县</string>
				<string>钟祥</string>
			</array>
			<key>孝感市</key>
			<array>
				<string>全部</string>
				<string>孝南区</string>
				<string>孝昌县</string>
				<string>大悟县</string>
				<string>云梦县</string>
				<string>应城</string>
				<string>安陆</string>
				<string>汉川</string>
			</array>
			<key>荆州市</key>
			<array>
				<string>全部</string>
				<string>沙区</string>
				<string>荆州区</string>
				<string>公安县</string>
				<string>监利县</string>
				<string>江陵县</string>
				<string>石首</string>
				<string>洪湖</string>
				<string>松滋</string>
			</array>
			<key>黄冈市</key>
			<array>
				<string>全部</string>
				<string>黄州区</string>
				<string>团风县</string>
				<string>红安县</string>
				<string>罗田县</string>
				<string>英山县</string>
				<string>浠水县</string>
				<string>蕲春县</string>
				<string>黄梅县</string>
				<string>麻城</string>
				<string>武穴</string>
			</array>
			<key>咸宁市</key>
			<array>
				<string>全部</string>
				<string>咸安区</string>
				<string>嘉鱼县</string>
				<string>通城县</string>
				<string>崇阳县</string>
				<string>通山县</string>
				<string>赤壁</string>
			</array>
			<key>随州市</key>
			<array>
				<string>全部</string>
				<string>曾都区</string>
				<string>广水</string>
			</array>
			<key>恩施土家族苗族自治州</key>
			<array>
				<string>全部</string>
				<string>恩施</string>
				<string>利川</string>
				<string>建始县</string>
				<string>巴东县</string>
				<string>宣恩县</string>
				<string>咸丰县</string>
				<string>来凤县</string>
				<string>鹤峰县</string>
			</array>
			<key>神农架</key>
			<array>
				<string>全部</string>
				<string>仙桃</string>
				<string>潜江</string>
				<string>天门</string>
				<string>神农架林区</string>
			</array>
		</dict>
	</array>
	<key>广东省</key>
	<array>
		<dict>
			<key>全部</key>
			<array>
				<string>全部</string>
			</array>
			<key>广州市</key>
			<array>
				<string>全部</string>
				<string>东山区</string>
				<string>荔湾区</string>
				<string>越秀区</string>
				<string>海珠区</string>
				<string>天河区</string>
				<string>芳村区</string>
				<string>白云区</string>
				<string>黄埔区</string>
				<string>番禺区</string>
				<string>花都区</string>
				<string>增城</string>
				<string>从化</string>
			</array>
			<key>珠海市</key>
			<array>
				<string>全部</string>
				<string>香洲区</string>
				<string>斗门区</string>
				<string>金湾区</string>
			</array>
			<key>佛山市</key>
			<array>
				<string>全部</string>
				<string>禅城区</string>
				<string>南海区</string>
				<string>顺德区</string>
				<string>三水区</string>
				<string>高明区</string>
			</array>
			<key>江门市</key>
			<array>
				<string>全部</string>
				<string>蓬江区</string>
				<string>江海区</string>
				<string>新会区</string>
				<string>台山</string>
				<string>开平</string>
				<string>鹤山</string>
				<string>恩平</string>
			</array>
			<key>东莞市</key>
			<array>
				<string>全部</string>
				<string>东莞</string>
				<string>虎门</string>
				<string>长安</string>
				<string>大岭山</string>
				<string>寮步</string>
				<string>黄江</string>
				<string>大朗</string>
				<string>常平</string>
				<string>塘厦</string>
				<string>凤岗</string>
				<string>厚街</string>
				<string>樟木头</string>
			</array>
			<key>中山市</key>
			<array>
				<string>中山</string>
			</array>
			<key>深圳市</key>
			<array>
				<string>全部</string>
				<string>罗湖区</string>
				<string>福田区</string>
				<string>南山区</string>
				<string>宝安区</string>
				<string>龙岗区</string>
				<string>盐田区</string>
				<string>龙华新区</string>
			</array>
		</dict>
	</array>
	<key>四川省</key>
	<array>
		<dict>
			<key>全部</key>
			<array>
				<string>全部</string>
			</array>
			<key>资阳市</key>
			<array>
				<string>全部</string>
				<string>雁江区</string>
				<string>安岳县</string>
				<string>乐至县</string>
				<string>简阳</string>
			</array>
			<key>成都市</key>
			<array>
				<string>全部</string>
				<string>锦江区</string>
				<string>青羊区</string>
				<string>金牛区</string>
				<string>武侯区</string>
				<string>成华区</string>
				<string>龙泉驿区</string>
				<string>青白江区</string>
				<string>新都区</string>
				<string>温江区</string>
				<string>金堂县</string>
				<string>双流县</string>
				<string>郫县</string>
				<string>大邑县</string>
				<string>蒲江县</string>
				<string>新津县</string>
				<string>都江堰</string>
				<string>彭州</string>
				<string>邛崃</string>
				<string>崇州</string>
			</array>
			<key>攀枝花市</key>
			<array>
				<string>全部</string>
				<string>东区</string>
				<string>西区</string>
				<string>仁和区</string>
				<string>米易县</string>
				<string>盐边县</string>
			</array>
			<key>泸州市</key>
			<array>
				<string>全部</string>
				<string>江阳区</string>
				<string>纳溪区</string>
				<string>龙马潭区</string>
				<string>泸县</string>
				<string>合江县</string>
				<string>叙永县</string>
				<string>古蔺县</string>
			</array>
			<key>德阳市</key>
			<array>
				<string>全部</string>
				<string>旌阳区</string>
				<string>中江县</string>
				<string>罗江县</string>
				<string>广汉</string>
				<string>什邡</string>
				<string>绵竹</string>
			</array>
			<key>绵阳市</key>
			<array>
				<string>全部</string>
				<string>涪城区</string>
				<string>游仙区</string>
				<string>三台县</string>
				<string>盐亭县</string>
				<string>安县</string>
				<string>梓潼县</string>
				<string>北川羌族自治县</string>
				<string>平武县</string>
				<string>江油</string>
			</array>
			<key>广元市</key>
			<array>
				<string>全部</string>
				<string>中区</string>
				<string>元坝区</string>
				<string>朝天区</string>
				<string>旺苍县</string>
				<string>青川县</string>
				<string>剑阁县</string>
				<string>苍溪县</string>
			</array>
			<key>遂宁市</key>
			<array>
				<string>全部</string>
				<string>船山区</string>
				<string>安居区</string>
				<string>蓬溪县</string>
				<string>射洪县</string>
				<string>大英县</string>
			</array>
			<key>内江市</key>
			<array>
				<string>全部</string>
				<string>中区</string>
				<string>东兴区</string>
				<string>威远县</string>
				<string>资中县</string>
				<string>隆昌县</string>
			</array>
			<key>乐山市</key>
			<array>
				<string>全部</string>
				<string>中区</string>
				<string>沙湾区</string>
				<string>五通桥区</string>
				<string>金口河区</string>
				<string>犍为县</string>
				<string>井研县</string>
				<string>夹江县</string>
				<string>沐川县</string>
				<string>峨边彝族自治县</string>
				<string>马边彝族自治县</string>
			</array>
			<key>南充市</key>
			<array>
				<string>全部</string>
				<string>峨眉山</string>
				<string>顺庆区</string>
				<string>高坪区</string>
				<string>嘉陵区</string>
				<string>南部县</string>
				<string>营山县</string>
				<string>蓬安县</string>
				<string>仪陇县</string>
				<string>西充县</string>
				<string>阆中</string>
			</array>
			<key>眉山市</key>
			<array>
				<string>全部</string>
				<string>东坡区</string>
				<string>仁寿县</string>
				<string>彭山县</string>
				<string>洪雅县</string>
				<string>丹棱县</string>
				<string>青神县</string>
			</array>
			<key>宜宾市</key>
			<array>
				<string>全部</string>
				<string>翠屏区</string>
				<string>宜宾县</string>
				<string>南溪县</string>
				<string>江安县</string>
				<string>长宁县</string>
				<string>高县</string>
				<string>珙县</string>
				<string>筠连县</string>
				<string>兴文县</string>
				<string>屏山县</string>
			</array>
			<key>广安市</key>
			<array>
				<string>全部</string>
				<string>广安区</string>
				<string>岳池县</string>
				<string>武胜县</string>
				<string>邻水县</string>
				<string>华蓥</string>
			</array>
			<key>达州市</key>
			<array>
				<string>全部</string>
				<string>通川区</string>
				<string>达县</string>
				<string>宣汉县</string>
				<string>开江县</string>
				<string>大竹县</string>
				<string>渠县</string>
				<string>万源</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
