<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>全部省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>全部市</key>
				<array>
					<string>全部区</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>湖北省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>全部市</key>
				<array>
					<string>全部区</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>武汉市</key>
				<array>
					<string>全部区</string>
					<string>江岸区</string>
					<string>江汉区</string>
					<string>硚口区</string>
					<string>汉阳区</string>
					<string>武昌区</string>
					<string>青山区</string>
					<string>洪山区</string>
					<string>东西湖区</string>
					<string>汉南区</string>
					<string>蔡甸区</string>
					<string>江夏区</string>
					<string>黄陂区</string>
					<string>新洲区</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>广东省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>全部市</key>
				<array>
					<string>全部区</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>广州市</key>
				<array>
					<string>全部区</string>
					<string>荔湾区</string>
					<string>越秀区</string>
					<string>海珠区</string>
					<string>天河区</string>
					<string>白云区</string>
					<string>黄埔区</string>
					<string>番禺区</string>
					<string>花都区</string>
					<string>南沙区</string>
					<string>萝岗区</string>
					<string>增城市</string>
					<string>从化市</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>深圳市</key>
				<array>
					<string>全部区</string>
					<string>罗湖区</string>
					<string>福田区</string>
					<string>南山区</string>
					<string>宝安区</string>
					<string>龙岗区</string>
					<string>盐田区</string>
					<string>龙华区</string>
					<string>光明区</string>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>珠海市</key>
				<array>
					<string>全部区</string>
					<string>香洲区</string>
					<string>斗门区</string>
					<string>金湾区</string>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>佛山市</key>
				<array>
					<string>全部区</string>
					<string>禅城区</string>
					<string>南海区</string>
					<string>顺德区</string>
					<string>三水区</string>
					<string>高明区</string>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>江门市</key>
				<array>
					<string>全部区</string>
					<string>蓬江区</string>
					<string>江海区</string>
					<string>新会区</string>
					<string>台山市</string>
					<string>开平市</string>
					<string>鹤山市</string>
					<string>恩平市</string>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>东莞市</key>
				<array>
					<string>全部区</string>
					<string>虎门镇</string>
					<string>长安镇</string>
					<string>大朗镇</string>
					<string>莞城区</string>
					<string>常平镇</string>
					<string>塘厦镇</string>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>中山市</key>
				<array>
					<string>中山市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>四川省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>全部市</key>
				<array>
					<string>全部区</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>成都市</key>
				<array>
					<string>全部区</string>
					<string>锦江区</string>
					<string>青羊区</string>
					<string>金牛区</string>
					<string>武侯区</string>
					<string>成华区</string>
					<string>龙泉驿区</string>
					<string>青白江区</string>
					<string>新都区</string>
					<string>温江区</string>
					<string>金堂县</string>
					<string>双流县</string>
					<string>郫县</string>
					<string>大邑县</string>
					<string>蒲江县</string>
					<string>新津县</string>
					<string>都江堰市</string>
					<string>彭州市</string>
					<string>邛崃市</string>
					<string>崇州市</string>
				</array>
			</dict>
		</dict>
	</dict>
</array>
</plist>
